body {
    margin: 20px;
    font-family: 'Tajawal', sans-serif;
}
.avatar {
    width: 200px;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ffd6ff;
    color: #2b2839;
    border-bottom: 8px solid #e7c6ff;
}

